{% load static %}
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Game Website Template, Free Download, XHTML/CSS Layout</title>
    <link rel="stylesheet" href="{% static 'templatemo_style.css' %}">

</head>

<body>
    <div id="templatemo_wrapper_outer">
        <div id="templatemo_wrapper_inner">

            <div id="templatemo_banner"></div>


            <div id="templatemo_content_wrapper">

                <div class="templatemo_side_bar margin_right_10">

                    <div class="header_01">Games by Platform</div>
                    <ul>
                        <li><a href="#">PC</a></li>
                        <li><a href="#">PLAYSTATION&reg; 3</a></li>
                        <li><a href="#">PSP&reg; 3</a></li>
                        <li><a href="#">GAMECUBE&trade;</a></li>
                        <li><a href="#">NINTENDO&trade;</a></li>
                        <li><a href="#">GAME BOY&reg; ADVANCE</a></li>
                        <li><a href="#">WII&trade;</a></li>
                        <li><a href="#">XBOX 360</a></li>
                    </ul>

                    <div class="margin_bottom_20 horizontal_divider"></div>
                    <div class="margin_bottom_20"></div>

                    <div class="header_01">Search Any Game</div>
                    <form action="" method="post">
                        <input type="text" id="search_field" />
                        <input type="submit" value="" id="search_button" />
                    </form>
                    <div class="margin_bottom_20"></div>
                </div> <!-- end of left side bar -->

                <div class="templatemo_content margin_right_10">

                    <div class="content_section">
                        <div class="header_02">Cow and Bull Game</div>
                        <h1>Play the Game</h1>
                        <p>Enter your 4-digit guess:</p>
                        <form method="post">
                            {% csrf_token %}
                            <input type="text" id="player_proposition" name="player_proposition" pattern="\d{4}" title="Please enter a 4-digit number" required>
                            <input type="hidden" id="player_name" name="player_name" value="{{ player_name }}">
                            <button type="submit">Submit Guess</button>
                        </form>
                        <p>{{ result }}</p>
                        >

                        <div class="cleaner"></div>
                    </div>
                   
                    <div class="margin_bottom_20 horizontal_divider"></div>
                    <div class="margin_bottom_20"></div>

                    
                </div> <!-- end of content -->

                <div class="templatemo_side_bar">

                    <div class="header_01">Latest News</div>

                    <div class="latest_news border_bottom">
                        <div class="header_03"><a href="#">Aenean a bibendum augue</a></div>
                        <p>Fusce egestas feugiat turpis, ac ultrices turpis vestibulum at.</p>
                    </div>

                    <div class="margin_bottom_10"></div>

                    <div class="latest_news">
                        <div class="header_03"><a href="#">Sed nec enim magna</a></div>
                        <p>Proin lectus orci, iaculis at facilisis sed, sodales a neque.</p>
                    </div>

                    <div class="margin_bottom_20 horizontal_divider"></div>
                    <div class="margin_bottom_20"></div>

                    <div class="header_01">Sample Video</div>

                    <div class="latest_news">
                        <div class="image_wrapper_02"><span></span><a href="#"><img src="{% static 'images/templatemo_image_03.jpg' %}" alt="video" /></a></div>

                        <p>Donec venenatis tellus non massa blandit vitae volutpat urna fringilla. Aenean ante lorem,
                            vestibulum eu lacinia.</p>
                    </div>

                    <div class="margin_bottom_10"></div>
                </div> <!-- end of right side bar -->

                <div class="cleaner"></div>
            </div> <!-- end of content wrapper -->

        </div>
    </div>
</body>

</html>